/* Profile Section */
.profile-section {
    padding: 4rem 0;
    background: #f8f9fa;
}

.profile-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    align-items: center;
}

.profile-image {
    text-align: center;
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text h2 {
    color: #2d5a27;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.profile-text p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #555;
}